$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body, #map {
  padding: 0;
  margin: 0;
  height: 100%;
}

.esriSimpleSliderTL {
  top: 65px;
  left: 20px;
}

#elements-bottom {
  position:absolute;
  bottom:10px;
  height:315px;
  z-index: 100;
}

woot-vrbo-details img {
  width: 100%;
  border: solid 2px gray;
  border-radius: 4px;
}

#elements-right {
  position:absolute;
  top: 60px;
  bottom: 10px;
  right: 10px;
  width: 250px;
  z-index: 100;
}

/* Stylist Component */
#stylist-element-container {
  float:left;
  bottom: 10px;
}

/* Chart Component */
#chart-element-container {
  float:left;
  bottom: 10px;
}