$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width:100%;
}

#map {
  padding:0;
  margin:0;
  height:100%;
}

#elements-bottom {
  position:absolute;
  bottom:10px;
  height:250px;
  z-index: 100;
  width:100%;
}

#elements-right {
  position:absolute;
  top: 25px;
  bottom: 25px;
  right: 10px;
  width: 280px;
  z-index: 100;
}

/* Stylist Component */
#stylist-element-container {
  float:left;
  bottom: 10px;
}

/* Chart Component */
#chart-element-container {
  float:left;
  bottom: 10px;
}

circle {
  cursor:pointer;
}

circle:hover {
  stroke:#999;
  stroke-width:2;
}

.trails path {
  cursor:pointer;
}

.trails path:hover {
  stroke:#0FF;
  stroke-width:4;
}

.listing-el {
  margin-bottom:5px;
  overflow:hidden;
}
.listing-el dd, .listing-el dt {
  float:left;
}

.listing-el dt {
  margin-right:5px;
}

.image-dd {
  width: 100%;
}
.image-dd img {
  width: 100%;
  border: solid 2px gray;
  border-radius: 4px;
}

polymer-ui-ratings {
  width: 100%;
  text-align: center;
}

polymer-ui-ratings #star {
  width: 28px;
  height: 28px;
}

.vrbo-list-item {
  float:left;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.vrbo-list-item:last-child {
  border-bottom: none;
}
.vrbo-list-item img {
  float: left;
  width: 40px;
}
.vrbo-list-item-details{
  float: left;
  padding-left: 10px;
}

circle.selected {
  fill: rgb(255,215,120);
}

circle.selected.hilighted {
  fill: rgb(255,165,70);
  stroke: rgb(255, 215, 120);
  stroke-width: 2;
}

@media (max-width: 600px) {
  #map {
    height:70% !important;
  }
  #elements-right {
    position: inherit;
    margin:auto;
    margin-top:20px;
    width:100%;
  }
  #elements-bottom {
    position:inherit;
    width:100%;
  }
  #stylist-element-container {
    display:none;
  }
  #line-chart-element-container {
    display:none;
  }
  #chartscatter {
    width:100% !important;
    overflow:hidden;
    margin:0px !important;
    margin-top:10px !important;
  }
}
